Repository MTR-Today/mtr-today-web: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, import-sort --write, eslint --fix

.lintstagedrc.json:

{
  "*.css": ["prettier --write"],
  "*.{ts,tsx,js}": ["import-sort --write", "prettier --write", "eslint --fix"],
  "*.json": ["prettier --write"]
}

chore: update package json
  .husky/pre-push
  package.json
Due: prettier --write

ci: workflow name
  .github/workflows/release.yml
Due: none

chore: set dev host
  vite.config.ts
Due: prettier --write, import-sort --write, eslint --fix

Deploying to gh-pages from @ mtr-today/mtr-today-web@b1c18479908fc722f68c69a5549878a4b9e37e16 🚀
  assets/index-ebfdba1c.js
  index.html
Due: prettier --write, import-sort --write, eslint --fix

feat: logo
  src/assets/logoDark.svg
  src/assets/logoLight.svg
  src/containers/Header/index.tsx
Due: prettier --write, import-sort --write, eslint --fix

feat: favicon
  index.html
  package.json
  pnpm-lock.yaml
  src/App.tsx
  src/assets/faviconDark.svg
  src/assets/faviconLight.svg
Due: prettier --write, import-sort --write, eslint --fix

feat: chinese translation
  src/containers/Header/index.tsx
Due: prettier --write, import-sort --write, eslint --fix

feat: github link
  package.json
  pnpm-lock.yaml
  src/containers/Header/index.tsx
Due: prettier --write, import-sort --write, eslint --fix

feat: update title
  index.html
Due: none

feat: meta tag
  index.html
Due: none

feat: google ads
  index.html
Due: none

Deploying to gh-pages from @ mtr-today/mtr-today-web@c416ad7f98a08470c47685894923bb997a6dc278 🚀
  assets/faviconDark-edbeab74.svg
  assets/faviconLight-b6c4f75b.svg
  assets/index-76252c8f.js
  assets/index-ebfdba1c.js
  assets/logoDark-3f476e13.svg
  assets/logoLight-fc0c0e63.svg
  index.html
Due: prettier --write, import-sort --write, eslint --fix

feat: time display local storage
  package.json
  pnpm-lock.yaml
  src/constants/localStorageKey.ts
  src/hooks/useConfig.ts
Due: prettier --write, import-sort --write, eslint --fix

chore: update renovate config
  renovate.json
Due: prettier --write

feat: update meta
  index.html
Due: none

Deploying to gh-pages from @ mtr-today/mtr-today-web@4048283d06fbe3f425a4e328b782b1843a5e916c 🚀
  assets/index-6a4b110f.js
  assets/index-76252c8f.js
  index.html
Due: prettier --write, import-sort --write, eslint --fix

chore: update ts config
  tsconfig.json
Due: prettier --write

feat: og image
  index.html
  src/assets/ogImage.png
Due: none

feat: i18n
  package.json
  pnpm-lock.yaml
  src/App.tsx
  src/components/RadioSwitch.tsx
  src/constants/language.ts
  src/constants/localStorageKey.ts
  src/containers/Header/index.tsx
  src/hooks/useConfig.ts
  src/locales/en/global.json
  src/locales/en/index.ts
  src/locales/index.ts
  src/locales/zh-hk/global.json
  src/locales/zh-hk/index.ts
  src/main.tsx
Due: prettier --write, import-sort --write, eslint --fix

Deploying to gh-pages from @ mtr-today/mtr-today-web@a4318a3c1fb88360a2ff074ca6cc5c4aa0539b6a 🚀
  assets/index-6a4b110f.js
  assets/index-a8e58f63.js
  index.html
Due: prettier --write, import-sort --write, eslint --fix

fix: public image path
  index.html
  public/favicon.svg
  public/ogImage.png
  public/vite.svg
  src/assets/faviconDark.svg
  src/assets/ogImage.png
Due: none

Deploying to gh-pages from @ mtr-today/mtr-today-web@2ec4e7dfd87482baa8510e17842688ccc8cccf57 🚀
  assets/faviconDark-2fab4202.svg
  assets/faviconLight-7fa703ec.svg
  assets/index-2244fea5.js
  favicon.svg
  index.html
  ogImage.png
  vite.svg
Due: prettier --write, import-sort --write, eslint --fix

feat: animated background
  .eslintrc
  pnpm-lock.yaml
  src/containers/Map/Island.tsx
  src/containers/Map/animation.ts
  src/containers/Map/index.tsx
Due: prettier --write, import-sort --write, eslint --fix

Deploying to gh-pages from @ mtr-today/mtr-today-web@60fd8053a6f5dad478f480c2a9444ab10812f8eb 🚀
  assets/index-2244fea5.js
  assets/index-4927d83d.js
  index.html
Due: prettier --write, import-sort --write, eslint --fix

feat: enlarge map area
  src/App.tsx
  src/containers/Bg/animation.ts
  src/containers/Bg/index.tsx
  src/containers/Map/index.tsx
Due: prettier --write, import-sort --write, eslint --fix

feat: auto scale
  package.json
  pnpm-lock.yaml
  src/App.tsx
  src/locales/en/global.json
  src/locales/zh-hk/global.json
Due: prettier --write, import-sort --write, eslint --fix

feat: zoom control
  src/App.tsx
  src/locales/en/global.json
  src/locales/zh-hk/global.json
Due: prettier --write, import-sort --write, eslint --fix

chore: remove event listener
  src/App.tsx
Due: prettier --write, import-sort --write, eslint --fix

chore: remove debounce type
  package.json
  pnpm-lock.yaml
Due: prettier --write

Deploying to gh-pages from @ mtr-today/mtr-today-web@dda32b5381173cd635ece4b13eb29750eb4493da 🚀
  assets/index-4927d83d.js
  assets/index-fc91c435.js
  assets/system_map-62186ef5.png
  index.html
Due: prettier --write, import-sort --write, eslint --fix

chore: strict tsconfig
  tsconfig.json
Due: prettier --write

chore: update lock file
  pnpm-lock.yaml
Due: none

feat: longer description
  index.html
  pnpm-lock.yaml
Due: none

chore: update favicon
  index.html
  public/favicon.ico
  public/favicon.svg
  public/faviconDark.png
  public/faviconLight.png
  src/App.tsx
  src/assets/faviconDark.svg
  src/assets/faviconLight.svg
Due: prettier --write, import-sort --write, eslint --fix

feat: turn off user scale
  index.html
Due: none

feat: manifest
  index.html
  public/images/icons/icon-128x128.png
  public/images/icons/icon-144x144.png
  public/images/icons/icon-152x152.png
  public/images/icons/icon-192x192.png
  public/images/icons/icon-384x384.png
  public/images/icons/icon-512x512.png
  public/images/icons/icon-72x72.png
  public/images/icons/icon-96x96.png
  public/manifest.json
Due: prettier --write

feat: pwa setup
  index.html
  package.json
  pnpm-lock.yaml
  public/manifest.json
  public/robots.txt
  vite.config.ts
Due: prettier --write, import-sort --write, eslint --fix

Deploying to gh-pages from @ mtr-today/mtr-today-web@a47010511dc5aadd925ab6e55e290e2af0cef170 🚀
  assets/faviconDark-2fab4202.svg
  assets/faviconLight-7fa703ec.svg
  assets/index-fc7f0fdb.js
  favicon.ico
  favicon.svg
  faviconDark.png
  faviconLight.png
  images/icons/icon-128x128.png
  images/icons/icon-144x144.png
  images/icons/icon-152x152.png
  images/icons/icon-192x192.png
  images/icons/icon-384x384.png
  images/icons/icon-512x512.png
  images/icons/icon-72x72.png
  images/icons/icon-96x96.png
  index.html
  manifest.webmanifest
  registerSW.js
  robots.txt
  sw.js
  workbox-56a10583.js
Due: prettier --write, import-sort --write, eslint --fix

fix: pwa icon
  public/images/icons/icon-128x128.png
  public/images/icons/icon-144x144.png
  public/images/icons/icon-152x152.png
  public/images/icons/icon-192x192.png
  public/images/icons/icon-384x384.png
  public/images/icons/icon-512x512.png
  public/images/icons/icon-72x72.png
  public/images/icons/icon-96x96.png
Due: none

Deploying to gh-pages from @ mtr-today/mtr-today-web@64589039885519cc1aa8ff3d887f9211c2b86f40 🚀
  images/icons/icon-128x128.png
  images/icons/icon-144x144.png
  images/icons/icon-152x152.png
  images/icons/icon-192x192.png
  images/icons/icon-384x384.png
  images/icons/icon-512x512.png
  images/icons/icon-72x72.png
  images/icons/icon-96x96.png
  sw.js
Due: prettier --write, import-sort --write, eslint --fix
