Repository MTR-Today/mtr-today-web: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, import-sort --write, eslint --fix

.lintstagedrc.json:

{
  "*.css": ["prettier --write"],
  "*.{ts,tsx,js}": ["import-sort --write", "prettier --write", "eslint --fix"],
  "*.json": ["prettier --write"]
}

chore: update renovate config
  pnpm-workspace.yaml
  public/sitemap.xml
  renovate.json
Due: prettier --write

chore: update renovate config
  .github/workflows/runTest.yml
Due: none

Deploying to gh-pages from @ MTR-Today/mtr-today-web@de633db5b506fd21aed63905adcc7ba55a3c9eff 🚀
  assets/index-BxcVWQ58.js
  assets/index-hnTJ-grA.js
  index.html
  manifest.webmanifest
  sitemap.xml
  sw.js
Due: prettier --write, import-sort --write, eslint --fix

chore: run pnpm upgrade
  pnpm-lock.yaml
Due: none

fix: upgrade framer motion to v12
  package.json
  pnpm-lock.yaml
Due: prettier --write

Deploying to gh-pages from @ MTR-Today/mtr-today-web@2959b916ec709056417d6e31700c3e35766f1e6a 🚀
  assets/index-CPEBRlEH.js
  assets/index-hnTJ-grA.js
  index.html
  sw.js
Due: prettier --write, import-sort --write, eslint --fix

chore: disable chakra upgrade
  renovate.json
Due: prettier --write

chore: add approve build
  pnpm-workspace.yaml
Due: none

Deploying to gh-pages from @ MTR-Today/mtr-today-web@683557c40c2740a37a668f8d91553f399fd2e26e 🚀
  assets/index-B5EznmkO.js
  assets/index-CPEBRlEH.js
  index.html
  sitemap.xml
  sw.js
Due: prettier --write, import-sort --write, eslint --fix

Deploying to gh-pages from @ MTR-Today/mtr-today-web@305bd1a0703e9b689afac16c67eebcb90dc23934 🚀
  assets/index-B5EznmkO.js
  assets/index-CzSuhnot.js
  index.html
  sitemap.xml
  sw.js
Due: prettier --write, import-sort --write, eslint --fix

Deploying to gh-pages from @ MTR-Today/mtr-today-web@55980ce7326b1132fb39fa85463c4959199f78db 🚀
  assets/index-CzSuhnot.js
  assets/index-DrIEfK78.js
  index.html
  sitemap.xml
  sw.js
Due: prettier --write, import-sort --write, eslint --fix

Deploying to gh-pages from @ MTR-Today/mtr-today-web@36f79b0ea04c06b0d288d9cb483df5f96c940136 🚀
  assets/index-Bmif0B-e.js
  assets/index-DrIEfK78.js
  index.html
  sitemap.xml
  sw.js
Due: prettier --write, import-sort --write, eslint --fix

chore: update biome rule
  biome.json
Due: prettier --write

chore: update pre commit
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  lefthook.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

chore: update pre commit
  package.json
Due: prettier --write

Deploying to gh-pages from @ MTR-Today/mtr-today-web@ebebb2639a9950e138ea8edf71394d726390eb51 🚀
  assets/index-Bmif0B-e.js
  assets/index-DoeRJH8l.js
  index.html
  sitemap.xml
  sw.js
Due: prettier --write, import-sort --write, eslint --fix

ci: fix release steps
  .github/workflows/release.yml
Due: none

Deploying to gh-pages from @ MTR-Today/mtr-today-web@2fb8c3edb026cb431ec1f3e383edb3abedd6de3d 🚀
  assets/index-CxCp-NGu.js
  assets/index-DoeRJH8l.js
  index.html
  sitemap.xml
  sw.js
Due: prettier --write, import-sort --write, eslint --fix

Deploying to gh-pages from @ MTR-Today/mtr-today-web@84dfdceb1160f09487769e6c1a595fd8ef301db5 🚀
  assets/index-ChNgZHbb.js
  assets/index-CxCp-NGu.js
  index.html
  sitemap.xml
  sw.js
Due: prettier --write, import-sort --write, eslint --fix

Deploying to gh-pages from @ MTR-Today/mtr-today-web@ad7a52a9a94d153e98ba9f01b7798a6dd790d968 🚀
  assets/index-BFxB_xHG.js
  assets/index-ChNgZHbb.js
  index.html
  sitemap.xml
  sw.js
Due: prettier --write, import-sort --write, eslint --fix

chore: use shared config renovate
  .github/workflows/release.yml
  .github/workflows/runTest.yml
  renovate.json
Due: prettier --write

Deploying to gh-pages from @ MTR-Today/mtr-today-web@4e64931c79d2b413ce8783dea652e1f59754b59a 🚀
  assets/index-BFxB_xHG.js
  assets/index-DOkSKZss.js
  index.html
  sitemap.xml
  sw.js
  workbox-3105ea8d.js
  workbox-e1498109.js
Due: prettier --write, import-sort --write, eslint --fix

Deploying to gh-pages from @ MTR-Today/mtr-today-web@f60e74e98975181d802d4f9ef2aa6bc0ff04b6fb 🚀
  assets/index-BoBlSymv.js
  index.html
  sitemap.xml
  sw.js
Due: prettier --write, import-sort --write, eslint --fix

chore: update renovate config
  renovate.json
Due: prettier --write

chore: use shared config commitlint
  .commitlintrc.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

Deploying to gh-pages from @ MTR-Today/mtr-today-web@65a5e14891d4f884182d4646e4908eb807e3bed3 🚀
  assets/index-BoBlSymv.js
  assets/index-NocMGOyS.js
  index.html
  sitemap.xml
  sw.js
Due: prettier --write, import-sort --write, eslint --fix

Deploying to gh-pages from @ MTR-Today/mtr-today-web@0f9edf969151c8ace066084373b542c881a9f1c8 🚀
  assets/index-NocMGOyS.js
  assets/index-S8SJYccH.js
  index.html
  sitemap.xml
  sw.js
Due: prettier --write, import-sort --write, eslint --fix

Deploying to gh-pages from @ MTR-Today/mtr-today-web@d43e6713176efa054de2bf10c6a34cd07d492a5d 🚀
  assets/index-OxOmxhe3.js
  assets/index-S8SJYccH.js
  index.html
  sw.js
Due: prettier --write, import-sort --write, eslint --fix

Deploying to gh-pages from @ MTR-Today/mtr-today-web@c8d27cd2dc5bc7defa24522027a77222be79f657 🚀
  assets/index-BjHAsnPi.js
  assets/index-OxOmxhe3.js
  index.html
  sitemap.xml
  sw.js
Due: prettier --write, import-sort --write, eslint --fix

Deploying to gh-pages from @ MTR-Today/mtr-today-web@ba89efd2c4525b53732a6d6600b1f172e1a67744 🚀
  assets/index-BjHAsnPi.js
  assets/index-BjskrEwR.js
  index.html
  sw.js
Due: prettier --write, import-sort --write, eslint --fix

Deploying to gh-pages from @ MTR-Today/mtr-today-web@f4a61c20cc345d181e2ab8e4590bb3f345340dad 🚀
  assets/index-Cva8ooRy.js
  index.html
  sitemap.xml
  sw.js
Due: prettier --write, import-sort --write, eslint --fix

Deploying to gh-pages from @ MTR-Today/mtr-today-web@35225a14925cf1ead88c2d9d4f37b7e51c78cb17 🚀
  assets/index-DUXh2VaC.js
  index.html
  sw.js
Due: prettier --write, import-sort --write, eslint --fix

Deploying to gh-pages from @ MTR-Today/mtr-today-web@fe1ddedeb42dfc126853b92dda3fb7a3a4c3044f 🚀
  assets/index-DUXh2VaC.js
  assets/index-hEycBnRK.js
  index.html
  sitemap.xml
  sw.js
Due: prettier --write, import-sort --write, eslint --fix

Deploying to gh-pages from @ MTR-Today/mtr-today-web@8a53f2bd896846ae25338146255633dea8393678 🚀
  assets/index-DlCWJF2X.js
  assets/index-hEycBnRK.js
  index.html
  sitemap.xml
  sw.js
Due: prettier --write, import-sort --write, eslint --fix

chore: use shared config ts
  public/sitemap.xml
  tsconfig.json
Due: prettier --write

chore: use shared config ts
  package.json
  pnpm-lock.yaml
Due: prettier --write

ci: fix cache
  .github/workflows/release.yml
Due: none
