Repository MTR-Today/mtr-today-web: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, import-sort --write, eslint --fix

.lintstagedrc.json:

{
  "*.css": ["prettier --write"],
  "*.{ts,tsx,js}": ["import-sort --write", "prettier --write", "eslint --fix"],
  "*.json": ["prettier --write"]
}

fix: extra sechdule on end stop
  src/containers/MtrMap/Stops.tsx
Due: prettier --write, import-sort --write, eslint --fix

fix: double opacity setting
  src/containers/MtrMap/Name.tsx
  src/containers/MtrMap/Schedule.tsx
Due: prettier --write, import-sort --write, eslint --fix

perf: svg end tip
  src/containers/MtrMap/EndTip.tsx
  src/containers/MtrMap/Islands.tsx
  src/containers/MtrMap/Line.tsx
  src/containers/MtrMap/Map.tsx
  src/containers/MtrMap/index.tsx
  src/contexts/mapContext.ts
Due: prettier --write, import-sort --write, eslint --fix

perf: scope line provider
  src/containers/MtrMap/Map.tsx
Due: prettier --write, import-sort --write, eslint --fix

Deploying to gh-pages from @ MTR-Today/mtr-today-web@f5c67ed932cec00e451d60489929eee3add1ad30 🚀
  assets/index-31b4c8ea.js
  assets/index-376f322a.js
  index.html
  sitemap.xml
  sw.js
Due: prettier --write, import-sort --write, eslint --fix

perf: simplify stop handling
  src/containers/MtrMap/Name.tsx
  src/containers/MtrMap/Schedule.tsx
  src/containers/MtrMap/Stop.tsx
  src/contexts/stopContext.ts
Due: prettier --write, import-sort --write, eslint --fix

Deploying to gh-pages from @ MTR-Today/mtr-today-web@2acf284a39699aea17f995127f7727ebdeb3c8a4 🚀
  assets/index-0467849e.js
  assets/index-31b4c8ea.js
  index.html
  sw.js
Due: prettier --write, import-sort --write, eslint --fix

fix: schedule up down fliped
  src/containers/MtrMap/Map.tsx
  src/containers/MtrMap/Schedule.tsx
  src/containers/MtrMap/Stops.tsx
Due: prettier --write, import-sort --write, eslint --fix

fix: adm schedule placement
  src/containers/MtrMap/Stops.tsx
Due: prettier --write, import-sort --write, eslint --fix

fix: stop name too close
  src/containers/MtrMap/Stops.tsx
Due: prettier --write, import-sort --write, eslint --fix

fix: stop name placement
  src/containers/MtrMap/Stops.tsx
Due: prettier --write, import-sort --write, eslint --fix

Deploying to gh-pages from @ MTR-Today/mtr-today-web@ad5b3247b740a4c249647f09f8558195c9f366c9 🚀
  assets/index-0467849e.js
  assets/index-3f650e4e.js
  index.html
  sitemap.xml
  sw.js
Due: prettier --write, import-sort --write, eslint --fix

fix: disney stop direction
  public/sitemap.xml
  src/containers/MtrMap/Stops.tsx
Due: prettier --write, import-sort --write, eslint --fix

Deploying to gh-pages from @ MTR-Today/mtr-today-web@2631e64357a4a7b791744d13c6846ec4a7d7c82c 🚀
  assets/index-1aa7bbef.js
  index.html
  sw.js
Due: prettier --write, import-sort --write, eslint --fix

chore: fix location type
  public/sitemap.xml
  src/containers/Layout/index.tsx
Due: prettier --write, import-sort --write, eslint --fix

Create FUNDING.yml
  .github/FUNDING.yml
Due: none

fix: router state hook
  public/sitemap.xml
  src/containers/Layout/index.tsx
Due: prettier --write, import-sort --write, eslint --fix

fix: tenstack router deps
  package.json
  pnpm-lock.yaml
  src/Router.tsx
  src/containers/AboutUs/index.tsx
  src/containers/Fares/index.tsx
  src/containers/Layout/Header.tsx
  src/containers/Layout/index.tsx
  src/containers/MtrMap/Stop.tsx
  src/containers/MtrMap/index.tsx
  src/containers/StopDetail/index.tsx
  src/containers/StopSchedules/index.tsx
  src/main.tsx
Due: prettier --write, import-sort --write, eslint --fix

chore: fix type
  src/containers/Fares/index.tsx
  src/containers/MtrMap/index.tsx
  src/containers/StopDetail/index.tsx
  src/containers/StopSchedules/index.tsx
Due: prettier --write, import-sort --write, eslint --fix

Deploying to gh-pages from @ MTR-Today/mtr-today-web@f412d5ca0afffe2fb170189258052d537bf2fe00 🚀
  assets/index-1aa7bbef.js
  assets/index-3734dcb1.js
  index.html
  sitemap.xml
  sw.js
Due: prettier --write, import-sort --write, eslint --fix

chore: run prettier
  README.md
  src/containers/MtrMap/Stop.tsx
Due: prettier --write, import-sort --write, eslint --fix

Deploying to gh-pages from @ MTR-Today/mtr-today-web@47c721a7cfb3f7c9890801329844204d2f01bdba 🚀
  assets/index-3734dcb1.js
  assets/index-53ecc0d0.js
  index.html
  sitemap.xml
  sw.js
Due: prettier --write, import-sort --write, eslint --fix

Deploying to gh-pages from @ MTR-Today/mtr-today-web@09519710173060957cda4db09d6e85469254c4d6 🚀
  assets/index-53ecc0d0.js
  assets/index-wH0O6TQn.js
  assets/logo-e3e8c117.svg
  assets/logoDark-3f476e13.svg
  assets/logoLight-fc0c0e63.svg
  index.html
  sitemap.xml
  sw.js
  workbox-f3e6b16a.js
Due: prettier --write, import-sort --write, eslint --fix

fix: downgrade tenstack router
  package.json
  pnpm-lock.yaml
  public/sitemap.xml
Due: prettier --write

Deploying to gh-pages from @ MTR-Today/mtr-today-web@098a29f13caf9640e3e573aaac0c134ce634222e 🚀
  assets/index-BEwZkmhW.js
  assets/index-wH0O6TQn.js
  index.html
  sitemap.xml
  sw.js
Due: prettier --write, import-sort --write, eslint --fix

chore: upgrade husky
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: fix type
  pnpm-lock.yaml
  src/hooks/useTime.ts
Due: prettier --write, import-sort --write, eslint --fix

chore: fix type
  src/hooks/useTime.ts
Due: prettier --write, import-sort --write, eslint --fix

chore: upgrade pnpm
  .github/workflows/runTest.yml
Due: none

chore: upgrade pnpm
  package.json
Due: prettier --write

chore: upgrade pnpm
  public/sitemap.xml
Due: none

ci: upgrade pnpm script
  .github/workflows/release.yml
  .github/workflows/runTest.yml
Due: none

chore: run pnpm upgrade
  pnpm-lock.yaml
  public/sitemap.xml
Due: none

ci: try fix release
  .github/workflows/release.yml
Due: none

fix: try fix release
  .github/workflows/release.yml
Due: none

Deploying to gh-pages from @ MTR-Today/mtr-today-web@6da35b77d5ac6453133578d84cbb6368c7438a3f 🚀
  assets/index-BEwZkmhW.js
  assets/index-DZzjURvR.js
  index.html
  sitemap.xml
  sw.js
  workbox-e1498109.js
  workbox-f3e6b16a.js
Due: prettier --write, import-sort --write, eslint --fix

chore: revert release change
  .github/workflows/release.yml
Due: none

Deploying to gh-pages from @ MTR-Today/mtr-today-web@02819c2502f1809d4026dc9f5da8a8e8ea2c1a7d 🚀
  assets/index-DOy_7zFF.js
  index.html
  sw.js
Due: prettier --write, import-sort --write, eslint --fix

Deploying to gh-pages from @ MTR-Today/mtr-today-web@ca2909adcc076d072a37720a9e00cbbe5e3c9d77 🚀
  assets/index-BxcVWQ58.js
  assets/index-DOy_7zFF.js
  index.html
  sitemap.xml
  sw.js
Due: prettier --write, import-sort --write, eslint --fix
